bash
streamlit
cv2
numpy
torch
tempfile
pillow
geopy
requests
smtplib
email
uuid
yolov5
opencv-python-headless
PyYAML
tqdm
matplotlib
scipy
tensorboard
pandas
seaborn
streamlit-webrtc
IPython
libgl1-mesa-glx==21.1.0+dfsg-1
