yolov5
opencv-python-headless
streamlit
cv2
numpy
torch
tempfile
PIL
geopy
requests
smtplib
email
uuid
Pillow
torchvision
PyYAML
tqdm
matplotlib
requests
scipy
tensorboard
pandas
seaborn
streamlit-webrtc
IPython
